body
{
    background-color: rgb(70, 70, 70);
}
#imgkod
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
#hiname
{
    font-size: larger;
    display: block;
    margin-left: 700px;
    margin-right: auto;
    width: 800px;
    color: rgb(233, 124, 0);
    font-size: 40px;
}
#names
{
    font-weight: bolder;
}
#Time
{
    text-align: center;
    color: rgb(233, 124, 0);
    font-size: 40px;
    
}
#text
{
    text-align: center;
    color: rgb(233, 124, 0);
    font-size: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -45px;
}
#zaman2
{
    position: relative;
    top: -45px;
    right: -230px;
}